.tituloh2 {

    color: grey;
    margin-bottom: 2%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
 }

 .tituloh3 {
    color: grey;
    margin-bottom: 1% solid;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    justify-content: center;
}

.h4-mapa {
    color: grey;
    margin-bottom: 1% solid;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    justify-content: center;
}

.color-de-fondo {
    background-color:  white;
}


.parrafo-principal {
    color: black;
    justify-content: center;
    background-color: greenyellow;
}
  